html, body, main {
    display: block;
}

nav li {
    float: none;
}

nav li a {
    padding: 10px;
}

main {
    margin-top: 80px;
}

aside {
    display: none;
}

article {
    margin: 10px;
}

article h3 {
    font-size: 1.5em;
}

article p {
    font-size: 1em;
}

