body{
    margin: 0;
    padding: 0;
}

nav {
    background: #337ab7;
    border: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    /*
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    */

}

div + div {
    border-top: 1px solid #ccc;
    clear: both;
    display: none;
}

nav > div p {
    color: #fff;
    float: left;
    font-size: 2em;
    margin-left: 20px;
}

p + a {
    float: right;
    margin: 30px 20px 0;
}

ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

li:hover {
    background-color: #265a88;
}

li a {
    display: block;
    font-size: 2.8em;
    padding: 20px;
}

img {
    border-radius: 4px;
}

/* Highlight the link of the current page. */
#about nav li a[href*="about"],
#animals nav li a[href*="animals"],
#contact nav li a[href*="contact"],
#history nav li a[href*="history"],
#market nav li a[href*="market"] {
    background: #265a88;
}

