/***************
** Grid rules **
***************/
.JSLITE_Grid_container {
  border: 2px solid #BBB;
  font: 12px arial;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative; /*make it a container for the loading overlay*/
}
.JSLITE_Grid_container th,
.JSLITE_Grid_container td {
  padding: 0;
}
.JSLITE_Grid_header {
  background: #99BBE8;
}
.JSLITE_Grid_header th {
  border-right: 1px solid #CCC;
  font-size: 13px;
  text-align: left;
}
.JSLITE_Grid_header th:last-child {
  border: 0;
}
.JSLITE_Grid_scroller {
  overflow: auto;
}
.JSLITE_Grid_row {
  border-bottom: 1px solid #CCC;
}
.JSLITE_Grid_row:hover {
  background-color: #EAEAEA;
}
.JSLITE_Grid_row_alt {
  background-color: #FAFAFA;
}
.JSLITE_Grid_body td div {
  height: 22px;
  line-height: 22px;
  overflow: auto;
}
.JSLITE_Pager_row {
  background: #DDD;
  /*height: 28px;*/ /*iphone needs this*/
  line-height: 28px;
}
.JSLITE_Pager_row table {
  float: right;
}
.JSLITE_Pager_row .first_Pager_table {
  float: left;
}
/******************
** Tooltip rules **
******************/
.JSLITE_Tooltip {
  background: #EED;
  border: 2px solid #789;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
.JSLITE_Tooltip * {
  margin: 0;
  padding: 0;
}
.JSLITE_TooltipHeader {
  background: #B0C4DE;
  border-bottom: 1px solid #789;
  color: #FFF;
  font: normal 11px Arial;
  margin: 0;
  padding: 2px;
}
.JSLITE_TooltipWrapper {
  padding: 10px;
}
.JSLITE_TooltipClose {
  background: url(http://localhost/dev/jslite/images/close.gif) 0 50% no-repeat;
  position: absolute;
  top: 2px;
  right: 3px;
  width: 15px;
  text-decoration: none;
  text-indent: -9999px;
}
/**************
** Tab rules **
**************/
.JSLITE_Tabs ol {
  background: #F4F4F4 url(../../images/tab_background.jpg) repeat-x bottom;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.JSLITE_Tabs ol li {
  background: url(../../images/tab_right.jpg) no-repeat right top;
  float: left;
  margin: 0 2px;
  padding: 0;
}
.JSLITE_Tabs ol li:first-child {
  margin-left: 8px;
}
.JSLITE_Tabs ol li a {
  background: url(../../images/tab_left.jpg) no-repeat left top;
  color: #DC6C5C;
  display: block; /*We set the anchors to block-level elements so we can control all aspects without worrying about the inline box*/
  font-size: .9em;
  padding: 3px 10px 4px;
  text-decoration: none;
}
.JSLITE_Tabs #selected {
  background-image: url(../../images/tab_right_selected.jpg);
}
.JSLITE_Tabs #selected a {
  background-image: url(../../images/tab_left_selected.jpg);
  padding-bottom: 5px;
}
.JSLITE_Tab {
  clear: left;
}
/**************
** DnD rules **
**************/
.JSLITE_draggable {
  cursor: pointer;
}
.JSLITE_dragging {
  border: 1px dashed #000 !important;
  display: none;
  margin: 0;
  opacity: .5;
  position: absolute;
}
.JSLITE_overDropZone {
  background: #ADD8E6 !important;
  border: 1px solid #000 !important;
  font-weight: bold;
}
/**********************************
** error box and related classes **
**********************************/
.JSLITE_textError { color: #F00 !important; }
.JSLITE_backgroundError { background: #FFC !important; }
.JSLITE_errorBox {
  background: #FFF;
  border: 1px solid #CCC;
  margin: 5px;
  padding: 10px;
}
.JSLITE_errorBox p {
  font-weight: bold;
}
.JSLITE_errorList li {
  font-size: 14px;
}
.JSLITE_errorList label {
  display: block;
}
.JSLITE_errorList span {
  background: #FFC;
  color: #CCC;
  font: italic 11px Arial, Verdana;
}

.dragdrop {
  border: 0 !important;
  margin: 0 !important;
}
.disabled { color: #CCC !important; }
.hide { display: none !important; }
.show { display: block !important; }
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
