/*
@media (min-width: 200px) {
    nav li {
        float: none !important;
    }

    nav li a {
        padding: 10px !important;
    }

    main {
        margin-top: 200px !important;
    }

    aside, section {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .nav-container {
        width: 750px;
    }

    nav li {
        float: left !important;
    }

    nav li a {
        padding: 20px 10px !important;
    }

    main {
        margin-top: 57px !important;
    }

    aside {
        display: -webkit-flex !important;
        display: -moz-flex !important;
        display: -ms-flex !important;
        display: flex !important;
    }

    aside address p {
        display: none !important;
    }

    section {
        display: -webkit-flex !important;
        display: -moz-flex !important;
        display: -ms-flex !important;
        display: flex !important;
    }
}

@media (min-width: 992px) {
    .nav-container {
        width: 970px;
    }

    aside address p {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .nav-container {
        width: 1170px;
    }
}
*/

html, body, main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 57px 0 0;
}

aside {
    background-color: #eee;
    overflow: auto;
    padding: 10px 20px;

    /* Let's flex the child items of this <aside> */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;

    /* This still participates as a flexed item */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

address {
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */


    border: 2px solid #000;
    border-radius: 16px;
    color: #fff;
    font-style: normal;
    margin: 20px 0;
    padding: 10px;
}

address div {
    float: left;
}

address p {
    font-size: .8em;
    line-height: 20px;
    margin: 0 0 0 50px;
}

address p a {
    color: inherit;
}

article {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow: auto;
    padding: 20px;

    /*
    -webkit-columns: 2 300px;
    -moz-columns: 2 300px;
    columns: 2 300px;

    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    */

    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
}

/* Account for different markup. */
article h3 + p::first-letter,
article p:nth-child(1)::first-letter {
    font-weight: bold;
    font-size: 1.5em;
}

#contact article h3 + p::first-letter {
    font-weight: normal;
    font-size: inherit;
}

section {
    background: #eee;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow: auto;
    padding: 10px;
    text-align: center;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    justify-content: center;
}

footer {
    background: #ddd;
    /*border: 1px solid #fff;*/
    /*box-shadow: inset 0 0 2em gray;*/
    box-sizing: border-box;
    /*opacity: 0.8;*/
    padding: 24px;
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
}

section figure img {
    border: 4px solid #606c88;
    border-radius: 16px;
}

.bold {
    font-weight: bold;
}

