@import url('nav.css');

html, body, section {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0
}

body {
    color: white;
    font-family: Open Sans;
}

section {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

aside {
    background: skyblue;
    flex: .5;
    padding: 24px;
}

article {
    background: tomato;
    flex: 2;
    overflow: auto;
    padding: 20px;

    /*
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
    columns: 3 200px;

    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;

    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
    */
}

footer {
    background: black;
    border: 1px solid gray;
    box-shadow: inset 0 0 2em gray;
    box-sizing: border-box;
    opacity: 0.8;
    padding: 24px;
}

