@media (max-width: 768px) {
    .nav-container {
        margin: 0 !important;
    }
    nav li a {
        padding: 20px 7px !important;
    }
    aside {
	display: none;
	width: 0 !important;
    }
    article {
        margin: 20px !important;
    }
}

html, body, main {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 80px;
}

aside {
    float: left;
    width: 250px;
}

article {
    margin-left: 270px;
}

/* Account for different markup. */
article h3 + p::first-letter,
article p:nth-child(1)::first-letter {
    font-weight: bold;
    font-size: 1.5em;
}

#contact article h3 + p::first-letter {
    font-weight: normal;
    font-size: inherit;
}

article .note {
    background-color: #eee;
    border: 1px solid #000;
    color: #000;
    margin: 10px;
    padding: 10px;
}

aside figure {
    margin: 0;
    padding: 0;
    position: fixed;
}

.bold {
    font-weight: bold;
}

nav {
    background: #337ab7;
    border: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-container {
    margin: 0;
    margin-left: 10%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    background: #337ab7;
    color: #fff;
    display: block;
    font-size: 1em;
    padding: 20px 10px;
    text-decoration: none;
}

nav li a:hover {
    background: #265a88;
}

/* Highlight the link of the current page. */
#home nav li a[href="/"],
#farm nav li a[href*="farm"],
#animals nav li a[href*="animals"],
#dogs nav li a[href*="dogs"],
#about nav li a[href*="about"],
#contact nav li a[href*="contact"] {
    background: #265a88;
}

