#nav {
    background: black;
    border: 1px solid gray;
    opacity: 0.8;
    position: fixed;
    width: 100%;
}

#nav ul {
    /* Center horizontally. */
    left: 0;
    right: 0;
    margin: 10px auto;
    width: 500px;
}

#nav li {
    display: inline;
    margin: 0 10px;
}

#nav li a {
    background: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
}

#nav li a:hover {
    background: #5cb85c;
}

/* Highlight the link of the current page. */
/*
#about a[href*="about"],
#animals a[href*="animals"],
#history a[href*="history"],
#market a[href*="market"] {
    color: black;
}
*/

