@media (min-width: 200px) {
    nav li {
        float: none !important;
    }

    nav li a {
        padding: 10px !important;
    }

    main {
        margin-top: 200px !important;
    }

    aside, section {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-container {
        width: 750px;
    }

    nav li {
        float: left !important;
    }

    nav li a {
        padding: 20px 10px !important;
    }

    main {
        margin-top: 57px !important;
    }

    aside, section {
        display: block;
    }
}

@media (min-width: 992px) {
    .nav-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .nav-container {
        width: 1170px;
    }
}

nav {
    background: #337ab7;
    border: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-container {
    margin: 0;
    margin-left: 10%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    background: #337ab7;
    color: #fff;
    display: block;
    font-size: 1em;
    padding: 20px 10px;
}

nav li a:hover {
    background: #265a88;
}

/* Highlight the link of the current page. */
#about a[href*="about"],
#animals a[href*="animals"],
#contact a[href*="contact"],
#history a[href*="history"],
#market a[href*="market"] {
    background: #265a88;
}

/*
nav li a[title="Home"] {
    color: #000;
}
*/

