#nav {
    /* center horizontally */
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    width: 500px;
}

#home #nav {
    /* center both horizontally and vertically */
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -123px;
    width: 200px;

    background: #1A2B2B;
    height: 235px;
    opacity: 1;
    padding: 10px;
    z-index: 9999;
}

#nav li {
    display: inline;
}

#home #nav li {
    display: block;
    list-style-type: none;
}

#nav li a {
    color: black;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

#home #nav li a {
    color: white;
}

